{
  "env": {
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "rules": {
    "quotes": "single",
    "semi": [2, "never"],
    "no-use-before-define": "nofunc"
  }
}